<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HibernateAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddTourist</display-name>
    <servlet-name>AddTourist</servlet-name>
    <servlet-class>com.om.servlet.AddTourist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTourist</servlet-name>
    <url-pattern>/AddTourist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTourist</display-name>
    <servlet-name>SearchTourist</servlet-name>
    <servlet-class>com.om.servlet.SearchTourist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTourist</servlet-name>
    <url-pattern>/SearchTourist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.om.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTourist</display-name>
    <servlet-name>UpdateTourist</servlet-name>
    <servlet-class>com.om.servlet.UpdateTourist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTourist</servlet-name>
    <url-pattern>/UpdateTourist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UdateTourist</display-name>
    <servlet-name>UdateTourist</servlet-name>
    <servlet-class>com.om.servlet.UdateTourist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UdateTourist</servlet-name>
    <url-pattern>/UdateTourist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.om.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TouristDeleted</display-name>
    <servlet-name>TouristDeleted</servlet-name>
    <servlet-class>com.om.servlet.TouristDeleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TouristDeleted</servlet-name>
    <url-pattern>/TouristDeleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForUpdate</display-name>
    <servlet-name>SearchForUpdate</servlet-name>
    <servlet-class>com.om.servlet.SearchForUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForUpdate</servlet-name>
    <url-pattern>/SearchForUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchforUpdate</display-name>
    <servlet-name>SearchforUpdate</servlet-name>
    <servlet-class>com.om.servlet.SearchforUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchforUpdate</servlet-name>
    <url-pattern>/SearchforUpdate</url-pattern>
  </servlet-mapping>
</web-app>